---
import {
  defaultCard,
  cardWithButton,
  cardWithImage,
  importCode,
} from "@data/card.ts";

import DefaultCard from "@components/cards/DefaultCard.astro";
import CardWithButton from "@components/cards/CardWithButton.astro";
import CardWithImage from "@components/cards/CardWithImage.astro";
import Article from "@components/Article.astro";
import CodeBlock from "@components/CodeBlock.astro";
import Content from "@layouts/Content.astro";
import Header from "@components/Header.astro";
import Heading from "@components/Heading.astro";
import Layout from "@layouts/Layout.astro";
import List from "@components/List.astro";
import ListItem from "@components/ListItem.astro";
import Preview from "@components/Preview.astro";
import Prose from "@components/Prose.astro";
import Sidebar from "@layouts/Sidebar.astro";
import Text from "@components/Text.astro";
import Tab from "@components/Tab.astro";
import TabItem from "@components/TabItem.astro";
---

<Layout title="Power Pages Components - Card">
  <Header />
  <Sidebar />
  <Content>
    <section>
      <Article>
        <Heading
          slot="header"
          level={1}
          gradient
          class="inline-block"
          text="Card"
        />
        <Prose>
          <Text>
            Use these card components to show data entries and information to
            your users in multiple forms and contexts such as for your blog,
            application, user profiles, and more.
          </Text>
        </Prose>
        <Prose>
          <Heading level={2} text="Copy the code" />
          <Text>
            To use the Card component, first copy the code and paste it into a
            Web Template.
          </Text>
        </Prose>
        <Prose>
          <Heading level={2} text="Usage" />
          <Heading level={3} text="Default Card" />
          <Text>
            You can use the following example of a default card element with a
            title and a subtitle.
          </Text>
          <Tab tabs={[{ label: "Preview", active: true }, { label: "Code" }]}>
            <TabItem active>
              <Preview>
                <DefaultCard />
              </Preview>
            </TabItem>
            <TabItem>
              <CodeBlock lang="html" code={defaultCard} />
            </TabItem>
          </Tab>
          <Heading level={3} text="Card with button" />
          <Text>
            You can use the following example of a card element with a title, a
            subtitle and an action button.
          </Text>
          <Tab tabs={[{ label: "Preview", active: true }, { label: "Code" }]}>
            <TabItem active>
              <Preview>
                <CardWithButton />
              </Preview>
            </TabItem>
            <TabItem>
              <CodeBlock lang="html" code={cardWithButton} />
            </TabItem>
          </Tab>
          <Heading level={3} text="Card with image" />
          <Text>
            You can use the following example of a card element with an image
            for blog posts, user cards, and many more.
          </Text>
          <Tab tabs={[{ label: "Preview", active: true }, { label: "Code" }]}>
            <TabItem active>
              <Preview>
                <CardWithImage />
              </Preview>
            </TabItem>
            <TabItem>
              <CodeBlock lang="html" code={cardWithImage} />
            </TabItem>
          </Tab>
        </Prose>
      </Article>
    </section>
  </Content>

  <style>
    .custom-button {
      --ac-btn-border-radius: 999px;
      --ac-btn-font-weight: 600;
      border-width: 0;
      background-image: linear-gradient(
        90deg,
        rgb(var(--ac-primary)) 0%,
        rgb(var(--ac-secondary)) 100%
      );
    }
  </style>
</Layout>
