---
import {
  defaultGallery,
  featuredImageGallery,
  importCode,
} from "@data/gallery.ts";
import DefaultGallery from "@components/galleries/DefaultGallery.astro";
import FeaturedImageGallery from "@components/galleries/FeaturedImageGallery.astro";
import Article from "@components/Article.astro";
import CodeBlock from "@components/CodeBlock.astro";
import Content from "@layouts/Content.astro";
import Header from "@components/Header.astro";
import Heading from "@components/Heading.astro";
import Layout from "@layouts/Layout.astro";
import Preview from "@components/Preview.astro";
import Prose from "@components/Prose.astro";
import Sidebar from "@layouts/Sidebar.astro";
import Text from "@components/Text.astro";
import Tab from "@components/Tab.astro";
import TabItem from "@components/TabItem.astro";
---

<Layout title="Power Pages Components - Gallery">
  <Header />
  <Sidebar />
  <Content>
    <section>
      <Article>
        <Heading
          slot="header"
          level={1}
          gradient
          class="inline-block"
          text="Gallery"
        />
        <Prose>
          <Text>
            The gallery component can be used to show multiple images inside a
            masonry grid layout styles with the utility-first classes from
            Tailwind CSS to show a collection of pictures to your users based on
            various layouts, styles, sizes, and colors.
          </Text>
        </Prose>
        <Prose>
          <Heading level={2} text="Import" />
          <Text>
            To use the Accordion component, first import it into your project:
          </Text>
          <CodeBlock lang="astro" code={importCode} />
        </Prose>
        <Prose>
          <Heading level={2} text="Usage" />
          <Heading level={3} text="Default Gallery" />
          <Text>
            Use this component to show a collection of images inside a gallery
            with three pictures on a row.
          </Text>
          <Tab tabs={[{ label: "Preview", active: true }, { label: "Code" }]}>
            <TabItem active>
              <Preview>
                <DefaultGallery />
              </Preview>
            </TabItem>
            <TabItem>
              <CodeBlock lang="html" code={defaultGallery} />
            </TabItem>
          </Tab>
          <Heading level={3} text="Featured Image Gallery" />
          <Text>
            This example can be used to feature the most important image and
            show a row of five pictures below.
          </Text>
          <Tab tabs={[{ label: "Preview", active: true }, { label: "Code" }]}>
            <TabItem active>
              <Preview>
                <FeaturedImageGallery />
              </Preview>
            </TabItem>
            <TabItem>
              <CodeBlock lang="html" code={featuredImageGallery} />
            </TabItem>
          </Tab>
        </Prose>
      </Article>
    </section>
  </Content>

  <style>
    .custom-button {
      --ac-btn-border-radius: 999px;
      --ac-btn-font-weight: 600;
      border-width: 0;
      background-image: linear-gradient(
        90deg,
        rgb(var(--ac-primary)) 0%,
        rgb(var(--ac-secondary)) 100%
      );
    }
  </style>
</Layout>
