---
import {
  defaultJumbotron,
  gradientBackgroundJumbotron,
  importCode,
} from "@data/jumbotron.ts";
import DefaultJumbotron from "@components/jumbotrons/DefaultJumbotron.astro";
import GradientBackgroundJumbotron from "@components/jumbotrons/GradientBackgroundJumbotron.astro";
import Article from "@components/Article.astro";
import CodeBlock from "@components/CodeBlock.astro";
import Content from "@layouts/Content.astro";
import Header from "@components/Header.astro";
import Heading from "@components/Heading.astro";
import Layout from "@layouts/Layout.astro";
import Preview from "@components/Preview.astro";
import Prose from "@components/Prose.astro";
import Sidebar from "@layouts/Sidebar.astro";
import Text from "@components/Text.astro";
import Tab from "@components/Tab.astro";
import TabItem from "@components/TabItem.astro";
---

<Layout title="Power Pages Components - Jumbotron">
  <Header />
  <Sidebar />
  <Content>
    <section>
      <Article>
        <Heading
          slot="header"
          level={1}
          gradient
          class="inline-block"
          text="Jumbotron"
        />
        <Prose>
          <Text>
            The Jumbotron (hero) component can be used as the first section of
            your website with a focus on a marketing message to increase the
            likelihood of the user to continue browsing your website.
          </Text>
        </Prose>
        <Prose>
          <Heading level={2} text="Import" />
          <Text>
            To use the Jumbotron component, first import it into your project:
          </Text>
          <CodeBlock lang="astro" code={importCode} />
        </Prose>
        <Prose>
          <Heading level={2} text="Usage" />
          <Heading level={3} text="Default Jumbotron" />
          <Text>
            The Accordion component consists of an Accordion container and
            AccordionItem children. The AccordionItem component is used to
            define each expandable content item within the Accordion container.
          </Text>
          <Tab tabs={[{ label: "Preview", active: true }, { label: "Code" }]}>
            <TabItem active>
              <Preview>
                <DefaultJumbotron />
              </Preview>
            </TabItem>
            <TabItem>
              <CodeBlock lang="html" code={defaultJumbotron} />
            </TabItem>
          </Tab>
          <Heading level={3} text="Gradient Backgound Jumbotron" />
          <Text>
            The Accordion component consists of an Accordion container and
            AccordionItem children. The AccordionItem component is used to
            define each expandable content item within the Accordion container.
          </Text>
          <Tab tabs={[{ label: "Preview", active: true }, { label: "Code" }]}>
            <TabItem active>
              <Preview>
                <GradientBackgroundJumbotron />
              </Preview>
            </TabItem>
            <TabItem>
              <CodeBlock lang="html" code={gradientBackgroundJumbotron} />
            </TabItem>
          </Tab>
        </Prose>
      </Article>
    </section>

    <style>
      .custom-button {
        --ac-btn-border-radius: 999px;
        --ac-btn-font-weight: 600;
        border-width: 0;
        background-image: linear-gradient(
          90deg,
          rgb(var(--ac-primary)) 0%,
          rgb(var(--ac-secondary)) 100%
        );
      }
    </style>
  </Content>
</Layout>
