---
import { floatingFilledLabel, floatingOutlinedLabel } from "@data/input.ts";

import FloatingFilledLabel from "@components/inputs/FloatingFilledLabel.astro";
import FloatingOutlinedLabel from "@components/inputs/FloatingOutlinedLabel.astro";
import Article from "@components/Article.astro";
import CodeBlock from "@components/CodeBlock.astro";
import Content from "@layouts/Content.astro";
import Header from "@components/Header.astro";
import Heading from "@components/Heading.astro";
import Layout from "@layouts/Layout.astro";
import Preview from "@components/Preview.astro";
import Prose from "@components/Prose.astro";
import Sidebar from "@layouts/Sidebar.astro";
import Text from "@components/Text.astro";
import Tab from "@components/Tab.astro";
import TabItem from "@components/TabItem.astro";
---

<Layout title="Power Pages Components - Input">
  <Header />
  <Sidebar />
  <Content>
    <section>
      <Article>
        <Heading
          slot="header"
          level={1}
          gradient
          class="inline-block"
          text="Input"
        />
        <Prose>
          <Text>
            Use the floating label style for the input field elements to
            replicate the Material UI design system from Google and choose from
            multiple styles and sizes.
          </Text>
        </Prose>
        <Prose>
          <Heading level={2} text="Copy & Paste code" />
          <Text>
            To use the Floating Label component, first copy the code and paste
            it into a Web Template.
          </Text>
        </Prose>
        <Prose>
          <Heading level={2} text="Usage" />
          <Text>
            Get started with the following two styles for the floating label
            component and use the label tag as a visual placeholder.
          </Text>
          <Heading level={3} text="Floating Filled Label" />
          <Tab tabs={[{ label: "Preview", active: true }, { label: "Code" }]}>
            <TabItem active>
              <Preview>
                <FloatingFilledLabel />
              </Preview>
            </TabItem>
            <TabItem>
              <CodeBlock lang="html" code={floatingFilledLabel} />
            </TabItem>
          </Tab>
          <Heading level={3} text="Floating Outlined Label" />
          <Tab tabs={[{ label: "Preview", active: true }, { label: "Code" }]}>
            <TabItem active>
              <Preview>
                <FloatingOutlinedLabel />
              </Preview>
            </TabItem>
            <TabItem>
              <CodeBlock lang="html" code={floatingOutlinedLabel} />
            </TabItem>
          </Tab>
        </Prose>
      </Article>
    </section>
  </Content>

  <style>
    .custom-button {
      --ac-btn-border-radius: 999px;
      --ac-btn-font-weight: 600;
      border-width: 0;
      background-image: linear-gradient(
        90deg,
        rgb(var(--ac-primary)) 0%,
        rgb(var(--ac-secondary)) 100%
      );
    }
  </style>
</Layout>
