---
import { defaultModal, importCode } from "@data/modal.ts";

import DefaultModal from "@components/modals/DefaultModal.astro";
import Article from "@components/Article.astro";
import CodeBlock from "@components/CodeBlock.astro";
import Content from "@layouts/Content.astro";
import Header from "@components/Header.astro";
import Heading from "@components/Heading.astro";
import Layout from "@layouts/Layout.astro";
import Preview from "@components/Preview.astro";
import Prose from "@components/Prose.astro";
import Sidebar from "@layouts/Sidebar.astro";
import Text from "@components/Text.astro";
import Tab from "@components/Tab.astro";
import TabItem from "@components/TabItem.astro";
---

<Layout title="Power Pages Components - Modal">
  <Header />
  <Sidebar />
  <Content>
    <section>
      <Article>
        <Heading
          slot="header"
          level={1}
          gradient
          class="inline-block"
          text="Modal"
        />
        <Prose>
          <Text>
            Use the modal component to show interactive dialogs and
            notifications to your website users available in multiple sizes,
            colors, and styles
          </Text>
        </Prose>
        <Prose>
          <Heading level={2} text="Copy & Paste code" />
          <Text>
            To use the Modal component, first copy the code and paste it into a
            Web Template.
          </Text>
        </Prose>
        <Prose>
          <Heading level={2} text="Usage" />
          <Heading level={3} text="Default Modal" />
          <Text>
            In order to create a modal you only have to add
            data-modal-target="modalId" data attribute where modalId is the ID
            of the modal that you are targeting.
          </Text>
          <Tab tabs={[{ label: "Preview", active: true }, { label: "Code" }]}>
            <TabItem active>
              <Preview>
                <DefaultModal />
              </Preview>
            </TabItem>
            <TabItem>
              <CodeBlock lang="html" code={defaultModal} />
            </TabItem>
          </Tab>
        </Prose>
      </Article>
    </section>
  </Content>

  <style>
    .custom-button {
      --ac-btn-border-radius: 999px;
      --ac-btn-font-weight: 600;
      border-width: 0;
      background-image: linear-gradient(
        90deg,
        rgb(var(--ac-primary)) 0%,
        rgb(var(--ac-secondary)) 100%
      );
    }
  </style>
</Layout>
