---
import Nav from "@components/Nav.astro";
import NavItem from "@components/NavItem.astro";
import NavSubItem from "@components/NavSubItem.astro";
import NavLink from "@components/NavLink.astro";

const { class: className } = Astro.props;
---

<aside
  data-nav
  class:list={[
    "fixed left-0 inset-y-0 -translate-x-full [&[open]]:translate-x-0 lg:translate-x-0 w-full lg:w-72 bg-neutral-100/60 backdrop-blur-md pt-16 z-10 transition-transform duration-300 ease-in-out",
    className,
  ]}
>
  <div
    class="w-full h-full lg:border-r border-neutral-300/50 px-6 py-5 overflow-y-auto"
  >
    <Nav>
      <NavItem title="Guide" open>
        <NavLink
          href="/guide/power-apps-configuration"
          label="Power Apps Configuration"
        />
        <NavLink
          href="/guide/power-pages-configuration"
          label="Power Pages Configuration"
        />
      </NavItem>
      <NavItem title="Power Apps Components" open>
        <NavLink href="/power-apps-components/accordion" label="Accordion" />
      </NavItem>
      <NavItem title="Power Pages Components" open>
        <NavLink href="/power-pages-components/accordion" label="Accordion" />
        <NavLink href="/power-pages-components/button" label="Button" />
        <NavLink href="/power-pages-components/card" label="Card" />
        <NavLink href="/power-pages-components/carousel" label="Carousel" />
        <NavLink href="/power-pages-components/gallery" label="Gallery" />
        <NavLink href="/power-pages-components/jumbotron" label="Jumbotron" />
        <NavSubItem title="Forms" open>
          <NavLink
            href="/power-pages-components/input"
            label="Floating Labels"
          />
        </NavSubItem>
        <NavLink href="/power-pages-components/modal" label="Modal" />
      </NavItem>
    </Nav>
  </div>
</aside>
